
<h3>Sua cédula auditada</h3>

<p>
<b><u>IMPORTANTE</u></b>: esta cédula, agora que foi auditada, <em>não será contabilizada</em>.<br />
Para votar, você deve clicar no botão "Voltar à votação" abaixo, criptografá-lo novamente e escolher "votar" em vez de "auditar".
</p>

<p>
<b>Por que?</b> O OMyVote evita que você audite e faça o mesmo voto para lhe fornecer alguma proteção contra coerção.
</p>

<p>
<b>E agora?</b> <a onclick="$('#audit_trail').select(); return false;" href="#">Selecione as informações de auditoria de cédula</a>, copie para a área de transferência e use <a target="_blank" href="single-ballot-verify.html?election_url={$T.election_url}">sistema de verificação de cédulas</a> para verificá-la.<br />
Quando estiver satisfeito, clique no botão "voltar à votação" para criptografar novamente e votar.
</p>

<form action="#">
<textarea name="audit_trail" id="audit_trail" cols="80" rows="10" wrap="soft">
{$T.audit_trail}
</textarea>
<br /><br />
Antes de voltar à votação,<br />
você pode postar esta cédula auditada no centro de rastreamento OMyVote para que outros possam verificar a auditoria dessa cédula.
<br /><br />
<b>Mesmo que você publique sua cédula auditada, você deve voltar à votação e escolher "votar" se quiser que seu voto conte.</b>
<br /><br />
<input type="button" value="voltar para a votação" onclick="BOOTH.reset_ciphertexts();BOOTH.seal_ballot();" class="pretty" />
&nbsp; &nbsp;&nbsp;
<input type="button" value="enviar cédula auditada para centro de rastreamento" onclick="$(this).attr('disabled', 'disabled');BOOTH.post_audited_ballot();" id="post_audited_ballot_button" class="pretty" style="font-size:0.8em;"/>

</form>




