
<div id="questions_div">
<p>
    Para votar, você será conduzido pelas seguintes etapas.<br />
    Se você ainda não fez o login, será solicitado a fazê-lo no final do processo.
<p>
    
<ol>
    <li> <b>Selecione</b> suas opções desejadas.<br />
<span style="font-size: 14pt;">Você pode navegar facilmente para frente e para trás.</span></li>
<br />

    <li> <b>Revisar &amp; Confirmar</b> suas escolhas.<br />
<span style="font-size: 14pt;">
    Suas escolhas são criptografadas com segurança dentro do navegador e você obtém um código rastreador de cédula.<br />
</span>
</li>
<br />

    <li> <b>Enviar</b> sua cédula criptografada.<br />
<span style="font-size: 14pt;">
    Você será solicitado a fazer login para enviar sua cédula criptografada para ser computada.
</span>
</li>
</ol>

<div align="center"><button onclick="BOOTH.show_question(0);">Iniciar</button></div>
</div>

