<form
  method="POST"
  onsubmit="BOOTH.do_done();"
  action="{$T.cast_url}"
  id="send_ballot_form"
  class="prettyform"
  style="display: none"
>
  <input type="hidden" name="election_uuid" value="{$T.election_uuid}" />
  <input type="hidden" name="election_hash" value="{$T.election_hash}" />
  <textarea name="encrypted_vote" style="display: none">
{$T.encrypted_vote_json}
</textarea
  >
  <div id="submit_button">
    <label for="submit">&nbsp;</label>
    <input type="submit" value="Enviar Cédula" class="pretty" />
  </div>
</form>
<div id="BoothContainer" class="booth" data-ballot="{$T.question.question}">
  <div class="justice-logo justice-logo--mobile">
    <img
      src="https://eleicoes2022.s3.amazonaws.com/brasao.gif"
      class="justice-logo__image"
    />
    <span class="justice-logo__text">
      <div>JUSTIÇA ELEITORAL</div>
      <span class="security-env">Ambiente seguro</span>
    </span>
  </div>
  <div class="screens">
    <div class="display">
      <div class="screen" data-step="end" id="EndVotingScreen">
        <div class="voting-end">
          <h1>FIM</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="keyboard">
    <div class="justice-logo">
      <img src="/static/helios/brasao.gif" class="justice-logo__image" />
      <span class="justice-logo__text">
        <div>JUSTIÇA<br />ELEITORAL</div>
        <span class="security-env">Ambiente seguro</span>
      </span>
    </div>
    <div class="keyboard__buttons">
      <div class="keyboard__numbers" id="NumberKeyboard">
        <div class="keyboard__button-row">
          <button class="btn btn-number NumberButton" data-value="1">1</button>
          <button class="btn btn-number NumberButton" data-value="2">2</button>
          <button class="btn btn-number NumberButton" data-value="3">3</button>
        </div>
        <div class="keyboard__button-row">
          <button class="btn btn-number NumberButton" data-value="4">4</button>
          <button class="btn btn-number NumberButton" data-value="5">5</button>
          <button class="btn btn-number NumberButton" data-value="6">6</button>
        </div>
        <div class="keyboard__button-row">
          <button class="btn btn-number NumberButton" data-value="7">7</button>
          <button class="btn btn-number NumberButton" data-value="8">8</button>
          <button class="btn btn-number NumberButton" data-value="9">9</button>
        </div>
        <div class="keyboard__button-row">
          <button class="btn btn-number NumberButton" data-value="0">0</button>
        </div>
      </div>
      <div class="keyboard__options">
        <button class="btn btn-option btn-option--branco" id="BlankVoteButton">
          BRANCO
        </button>
        <button class="btn btn-option btn-option--corrige" id="UndoButton">
          CORRIGE
        </button>
        <button
          class="btn btn-option btn-option--confirma"
          id="ApplyVoteButton"
        >
          CONFIRMA
        </button>
      </div>
    </div>
  </div>
</div>
