{% extends TEMPLATE_BASE %}

{% block header %}
<h2>{{ settings.SITE_TITLE }} &mdash; Recuperação de Senha</h2>
{% endblock %}

{% block content %}

{% if error %}
<p style="border: 1px solid black; padding: 5px;">
    {{error}}
</p>
{% endif %}

<form class="prettyform" action="" method="POST">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    <input type="hidden" name="return_url" value="{{return_url}}" />
Seu usuário: <input type="text" name="username" /> <input type="submit" value="Me envie o lembrete de senha" />
</form>
{% endblock %}
