{% extends 'server_ui/templates/base.html' %}
{% block title %}Confirmação de Voto{% endblock %}

{% block content %}
<script language="javascript">
$(document).ready(function() {
  $('#waiting_div').hide();
});

function show_waiting() {
  $('#cast_div').hide();
  $('#waiting_div').show();
}
</script>
<h1>Confirme seu Voto</h1>

{% if error %}
<p style="color: red;">{{error}}</p>
{% endif %}

<h3>Sua cédula digital</h3>

<p style="font-size:1.6em;">
    <tt>{{vote_fingerprint}}</tt>
</p>

<div id="cast_div">
<h3>Registre sua cédula utilizando suas credenciais</h3>

<form method="post" onsubmit="show_waiting();" action="">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />

<table>
{{form.as_table}}
</table><br />

    <input type="submit" value="cast this ballot" /><br /><br />
</form>

<p>
    Esqueceu a senha? <a href="{% url "auth@password@forgotten" %}?return_url={% url "election@cast-confirm" %}">Receba suas credenciais por email</a>.<br />(seu voto será mantido)
</p>
</div>

<div id="waiting_div" align="center">
  Verificando e registrando sua cédula digital<br />
  <img src="/static/helios/loading.gif" />
</div>

{% endblock %}
