{% extends 'server_ui/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="large-12-columns">

<div class="row"><h2>Perguntas frequentes</h2></div>

<div class="row">
<b>O que faz este sistema diferente ou melhor que os outros sistemas de voto online?</b>
<p>O voto é realmente verificável. Cada eleitor recebe um código rastreador que pode ser checado o Sistema de Rastreamento de Votos para comprovar que o voto foi recebido e computado corretamente. Isso significa que ninguém, nem mesmo os administradores do sistema podem alterar o seu voto.
</p>
</div>

<div class="row">&nbsp;</div>

<div class="row">
<b>Já ouvi falar de "verificável por eleitores" antes, o que há de diferente aqui?</b>
<p>Muitos sistemas de votação afirmam ser verificáveis pelos eleitores. Acreditamos que a verificabilidade dos eleitores é extremamente importante e apoiamos os esforços de outras organizações para ajudar a melhorar as máquinas de votação usadas nas eleições para cargos públicos. No entanto, acreditamos que é necessária uma verificabilidade mais extensa, com os eleitores capazes de garantir que o processo de contagem, e não apenas o registro de sua votação, seja realizado corretamente. Chamamos isso de "verdadeira verificabilidade". Outros chamam esse conceito de "verificabilidade de ponta a ponta" ou "auditoria aberta".</p>
</div>

<div class="row">&nbsp;</div>

<div class="row">
<b>Quão secreto é meu voto em OMyVote?</b>
<p>OMyVote toma muito cuidado para proteger o sigilo de seu voto. Nos navegadores mais modernos, seu voto é criptografado dentro do seu navegador, antes mesmo de ser enviado ao servidor. Mesmo em navegadores antigos, seu voto é criptografado antes de você fazer login no sistema. Em todos os casos, seu voto é armazenado no banco de dados apenas na forma criptografada. OMyVote então usa técnicas criptográficas avançadas para combinar todos os votos criptografados em uma contagem criptografada, e apenas a contagem é descriptografada. Isso significa que sua cédula nunca é decodificada individualmente. Para proporcionar o mais alto nível de privacidade, o sistem permite que os administradores designem vários curadores. Todos os administradores devem estar envolvidos na descriptografia, o que garante ainda que apenas a contagem, nunca os votos individuais, sejam descriptografados.</p>
</div>

<div class="row">&nbsp;</div>

<div class="row">
<b>O que há de tão "inteligente" no Sistema de Rastreio de Voto?</b>
<p>Um número de rastreamento típico, por exemplo, para o envio de um pacote, é mais ou menos um número aleatório: significa apenas o rótulo da embalagem. É possível que seu pacote chegue lá, número de rastreamento intacto, mas seu conteúdo destruído. No mundo digital, podemos produzir um tipo especial de número de rastreamento que está longe de ser aleatório: é uma impressão digital da criptografia do seu voto. Portanto, se seu rastreador de cédula inteligente chegar até a contagem, você sabe que sua cédula não foi incluída apenas na contagem, mas também sabe que não foi adulterada no processo. É isso que o torna inteligente.
</p>
</div>

<div class="row">&nbsp;</div>

<div class="row">
<b>Devemos começar a usar o OMyVote para eleições para cargos públicos? Talvez presidente do Brasil em 2022?</b>
<p>Não você não deveria. As eleições online são apropriadas quando é feita através de uma identidade digital e quando o formato seja executado de maneira a mitigar a possibilidade de coerção e compra de voto. Em algumas eleições, principalmente nas eleições federais e estaduais do Brasil, as expectativas são muito altas e recomendamos não executar os votos pela Internet no Brasil. Isso não tem nada a ver com o próprio OMyVote: enquanto o Brasil não possuir uma identidade digital amplamente distribuída de forma a garantir que apenas o cidadão correto execute seu voto, e que o modelo de eleição seja diferente do atual, não confiamos que este sistema possa suportar ataques de coerção e compra de voto.</p>

<p>Se você deseja usar um sistema de votação verdadeiramente verificável para suas eleições para cargos públicos, recomendamos uma eleição com presença física. O OMyVote pode ser adaptado ao ambiente de votação presencial no futuro.</p>
</div>


</div>


{% endblock %}
