{% extends 'server_ui/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
<h2>{{ settings.SITE_TITLE }}</h2>
{% endblock %}

{% block content %}

<div class="row"><div class="large-5 columns large-centered"><p><br /><br /><a href="/"><img border="0" src="{{ settings.MAIN_LOGO_URL }}" /></a></div></p></div>
<div class="row">&nbsp;</div>
<div class="large-9 columns">
  {% if settings.MASTER_HELIOS %}
<p>OriginalMy oferece <b>eleições online verificáveis</b>.</p>

<p>Acreditamos que fortalecer a democracia é importante seja na sua associação, assembléia, partido político, conselho, empresa ou mesmo no Estado. Por isso disponibilizamos eleições verificáveis tão simples como tudo na Internet</p>

<p>
As eleições com a OriginalMy são:
<ul class="disc">
<li><b>privadas</b>: ninguém sabe em quem você votou.</li>
<li><b>verificáveis</b>: cada eleitor recebe um código para rastreio.</li>
<li><b>comprovada</b>: Integrada ao protocolo open-source Helios, validado por especialistas, e utilizada por grandes corporações.</li>
</ul>

<p>
Mais de <b>2,000,000 de votos</b> já foram feitos utilizando este protocolo.
</p>

{% if create_p %}
<!-- <a class="button" href="{% url "elections@new" %}">Criar uma eleição</a> -->
{% endif %}

  {% else %}
  <p style="font-size: 1.4em;">
    {{settings.WELCOME_MESSAGE|safe}}
  </p>
  
  {% if elections|length %}
  <p>
    {% for election in elections %}
    <div class="panel">
      <a style="font-size: 1.4em;" href="{% url "shortcut@election" election.short_name %}">{{election.name}}</a>{% if settings.SHOW_USER_INFO %}<br /> by {{election.admin.display_html_small|safe}}{% endif %}
    </div>
    <br />
    {% endfor %}
  </p>
  {% else %}
  <h4>nenhuma eleição em destaque no momento</h4>
  {% endif %}
{% endif %}
  
</div>

<div class="large-3 columns" id="mystuff">
<div class="row">&nbsp;</div>
<div class="panel row">
{% if user %}
<!--<div class="row right">{{user.display_html_big|safe}}</div>-->
{% if create_p %}
<a class="small button" href="{% url "elections@new" %}">Criar eleição</a>
<h5 class="subheader">Eleições que administrei</h5>
{% if elections_administered %}
<ul>
{% for election in elections_administered %}
<li> <a href="{% url "election@view" election.uuid %}">{{election.name}}</a></li>
{% endfor %}
</ul>
{% else %}
<em>Nenhum registro</em>
{% endif %}
<div class="row right">
<a class="tiny button" href="{% url "elections@administered" %}">ver tudo</a>
</div>
<div class="row"></div>
{% endif %}

<h5 class="subheader">Eleições que votei</h5>
{% if elections_voted %}
<ul>
{% for election in elections_voted %}
<li><a href="{% url "election@view" election.uuid %}">{{election.name}}</a></li>
{% endfor %}
</ul>
{% else %}
<em>Nenhum registro</em>
{% endif %}
<div class="row right"><a class="tiny button" href="{% url "elections@voted" %}">ver tudo</a></div>
<div class="row"><a class="small button" href="{% url "elections@new" %}">Criar eleição</a></div>
{% else %}
{% if settings.SHOW_LOGIN_OPTIONS %}
<h5>Faça login para começar a votar</h5>
{{login_box|safe}}
{% else %}
<p>
Selecione uma eleição disponível para votar. O sistema solicitará suas credenciais antes de concluir seu voto.
</p>
{% endif %}
{% endif %}
</div>
</div>


{% endblock %}
