{% extends 'server_ui/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }} &mdash; Privacidade{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="large-12-columns">

<div class="row"><h2>Privacidade</h2></div>

<div class="row">

<h3>Geral</h3>

<ul>
<li> OMyVote é projetado com privacidade embutida. Se você tiver alguma dúvida ou preocupação sobre a privacidade do OMyVote não abordada aqui, <a href="mailto:contato+omyvote@originalmy.com">entre em contato</a>.</li>
<li> Coletamos apenas as informações necessárias para garantir eleições seguras e confiáveis.</li>
<li> Disponibilizamos certas informações publicamente em nosso site como parte do processo de auditoria das eleições (detalhes abaixo). Além disso, não divulgamos nenhuma informação que coletamos.</li>
<li> Nós não vendemos nenhuma informação.</li>
<li> Não usamos rastreadores externos ou publicidade que possa vazar informações sobre você</li>
</ul>

<p>
<b>Se você desejar, pode parar de ler aqui: o restante fornece detalhes sobre os princípios acima.</b>
</p>

<hr>

<h3>Para Eleitores</h3>

<p><b>sobre seu voto:</b></p>

<ul>
<li> Seu voto no OMyVote é considerado extremamente privado.</li>
<li> OMyVote usa SSL para transmitir dados entre seu navegador e nossos servidores.</li>
<li> Além disso, o OMyVote usa criptografia de ponta a ponta para que, mesmo após a descriptografia SSL, seu voto é<em>ainda</em> criptografado com a chave de eleição. Os servidores da OriginalMy nunca veem seu voto.</li>
<li> No processo normal de uma eleição no OMyVote, seu voto individual nunca é descriptografado: votos criptografados são combinados em uma contagem, usando um processo chamado criptografia homomórfica e apenas a contagem final &mdash; nunca o voto, ou antes, ou mesmo durante &mdash; é descriptografado.</li>
<li> Os curadores de sua eleição, se todos conspirarem conjuntamente, tecnicamente têm o poder de descriptografar seu voto individual. Essa ação é fortemente desencorajada e é contrária à política do OMyVote. É por isso que as eleições de alta segurança devem usar pelo menos três curadores com diferentes alianças.</li>
<li> OMyVote pode, a seu critério dos administradores, servir como administrador da sua eleição. Isso <em>não</em> dá ao OMyVote o poder de descriptografar seu voto. De fato, é provavelmente preferível, pois sem a colaboração de OMyVote, os demais administradores não podem descriptografar votos individuais. É nossa política que OMyVote, ao agir como administrador, decodifique apenas a contagem das eleições, nunca um voto individual.</li>
<li> Quando o OMyVote não está atuando como administrador da sua eleição, o OMyVote não tem poder para descriptografar nenhum voto.</li>
</ul>

<p><b>Sobre dados que não são de voto:</b></p>

<ul>
<li> Para votar, você precisará apresentar credenciais para provar sua elegibilidade. O OMyVote usa as interfaces de login da OriginalMy através do OMyID, para que nunca tenha acesso às suas credenciais em outros serviços.</li>
<li> Para fins de auditoria eleitoral, o OMyVote armazena seu nome, endereço de email, CPF, BlockchainID e as informações mínimas de elegibilidade necessárias para qualificá-lo.</li>
<li> Os metadados completos do seu voto: de onde você votou, a que horas você votou e com que frequência (apenas o último voto conta!) São armazenados no OMyVote e podem ser disponibilizados aos administradores eleitorais como parte do processo de auditoria . Isso é fundamental para garantir uma eleição segura e confiável.</li>
<li> Se sua eleição foi tornada pública pelo administrador, algumas informações essenciais de auditoria são disponibilizadas ao público: o fato de você ter votado, a hora da sua votação e o número de rastreamento. Se o seu administrador optou por usar codinomes de eleitor, seu nome será substituído pelo seu ID de eleitor pseudônimo nesse conjunto de dados. Em todos os casos, o OMyVote cuida ou oculta totalmente o seu endereço de email para impedir a coleta de spam por spam.</li>
<li> Em caso de eleição privada, essas mesmas informações estarão disponíveis apenas para você, seus colegas eleitores e seus administradores de eleição.</li>
</ul>

<h3>Para Administradores</h3>


<ul>
<li> Como administrador, você tem o poder de designar quem pode votar, quando a eleição começa, quando a eleição para e quando os resultados são divulgados. Fora isso, você não tem poder além do que os eleitores em sua eleição têm. Isso ocorre por design.</li>
<li> Para criar e administrar uma eleição, você precisará fazer login utilizando OMyID (Blockchain ID). O OMyVote consulta e retém apenas as informações básicas necessárias para autenticar você na próxima vez: seu nome, endereço de email e ID do usuário. A OMyVote usará essas informações para enviar uma mensagem quando sua eleição exigir atenção.</li>
</ul>

</div>

</div>

{% endblock %}
