.omyvote-auth-btn {
  padding: 1rem 1.5rem !important;
  font-size: 1.25rem !important;
  line-height: 1.5;
}

.omyvote-auth-btn__container {
  display: flex;
  justify-content: center;
}

/*-----------------------------------------------
| ELECTION CAST CONFIRM
------------------------------------------------*/
.omyvote-auth-disclamer {
  padding: 20px;
}

.omyvote-auth-disclamer__title {
  text-align: center;
}

.omyvote-auth-disclamer .omyvote-auth-disclamer__paragraph:first-child {
  text-align: center;
}

.omyvote-ballot-tracker {
  align-self: end;
  width: 100%;
}

.omyvote-ballot-tracker__label {
  display: block;
}

.omyvote-ballot-tracker__fingerprint {
  font-size: 0.9em;
  font-weight: bold;
  word-wrap: break-word;
}

.voting-login {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.voting-login__label-desc {
  margin-bottom: 20px;
  width: 100%;
}

form.voting-login__form {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.voting-login__form th,
td {
  border: 0;
}

form.voting-login__form td input {
  border-radius: 5px;
}

form.voting-login__form th label {
  font-weight: bold;
}

table.voting-login__form-table {
  border: 0;
  width: 100%;
}

.voting-login__send-disclamer {
  font-size: 0.8rem;
  color: #565656;
}

@media only screen and (max-width: 720px) {
  .omyvote-auth-disclamer {
    padding: 20px;
  }
  .omyvote-ballot-tracker {
    padding: 20px;
  }
  .omyvote-auth-btn {
    width: 100%;
  }
  .omyvote-ballot-tracker {
    width: 100%;
    align-self: end;
  }
  .voting-login {
    height: 100%;
  }
}
