{% extends TEMPLATE_BASE %}

{% block content %}
<h1>Por que precisamos das suas informações</h1>

<p>
    Parece que você se recusou a nos conceder permissão para acessar suas informações. Entendemos e valorizamos sua privacidade. Solicitamos essas informações para que possamos entrar em contato com seu número de rastreamento de votação e quando uma eleição na qual você participou foi registrada. Prometemos não usar essas informações para nenhum outro propósito. Sem essas informações, infelizmente não podemos ajudá-lo a votar.
</p>

<form method="POST" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="submit" value="OK, entendo, vamos fazer essa coisa de login." /><br /><br />
<a href="http://google.com">não, quero sair daqui</a>.
</form>

{% endblock %}
