<h1 style="margin-bottom: 0;">
    Envie seu voto
</h1>
<p class="voting-login__label-desc">Forneça o ID de eleitor e senha que você recebeu por email.</p>
<form method="post" action="{% url "election@password-voter-login" election.uuid %}" onsubmit="show_waiting()" class="voting-login__form" id="VotingAuthForm">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="return_url" value="{{return_url}}"/>
<input type="hidden" name="cast_ballot" value="{{cast_ballot}}"/>
<table class="voting-login__form-table">
    {{password_login_form.as_table}}
</table>
<div style="display: flex;flex-wrap: wrap;justify-content: center;">
    <div id="blockchainID"></div>
    <div class="voting-login__email">
        <label for="voteremail">Ou insira seu email:</label>
        <input type="email" id="voteremail" name="email" class="voting-login__email-input" placeholder="exemplo@email.com" aria-placeholder="Exemplo de formato de e-mail exemplo@email.com"/>
        <input type="submit" class="button voting-login__submit-btn" value="enviar voto" />
    </div>
</div>
{% if bad_voter_login %}
<p style="color: red;" class="voting-login__form-error">
usuário ou senhas não coincidem. por favor, tente novamente.
</p>
{% endif %}
{% if cast_ballot == "1" %}
<p class="voting-login__send-disclamer">
    Você pode enviar quantas cédulas desejar: somente a última será contabilizada.
</p>
{% else %}
<input type="submit" class="button" value="log in" />
{% endif %}
</form>
<script src="https://unpkg.com/@originalmy/blockchainid-qrcode-plugin/dist/blockchainid.js"></script>
<script>
    $("#id_voter_id").val("voto");
    $("#id_password").val("123456");
    const blockchainID = new BlockchainID({
        companyId: "02",
        mode: 'kiosque',
        qrcodeStyle: {
            width: "200px",
            height: "200px",
        },
        qrcodeContainerStyle: {
            width: "200px",
            height: "200px",
        }
    });
    blockchainID.onAuthenticate = function (nonce) {
        $("#VotingAuthForm").submit();
    }
</script>

