{% if election.voting_has_started %} {% if not election.voting_has_stopped %}
<div id="cast_form">
  <div class="container">
    <div class="justice-logo justice-logo--mobile">
      <img
        src="https://eleicoes2022.s3.amazonaws.com/brasao.gif"
        class="justice-logo__image"
      />
      <span class="justice-logo__text">JUSTIÇA<br />ELEITORAL</span>
    </div>
    <div class="screens">
      <div class="display">
        <div class="screen" data-step="end" id="EndVotingScreen">
          <div class="voting-end">
            <h1>FIM</h1>
            <form
              id="cast_confirm_form"
              method="post"
              action=""
              onsubmit="show_waiting()"
            >
              <input type="hidden" name="csrf_token" value="{{csrf_token}}" />

              {% if status_update_label %}
              <div
                class="round"
                style="background: #eee; padding: 10px; border: 1px dashed #888"
              >
                <input type="checkbox" name="status_update" value="1" checked />
                {{status_update_label}}<br />
                <blockquote style="font-size: 1.3em">
                  "{{status_update_message}}"
                </blockquote>
                <input
                  type="hidden"
                  name="status_update_message"
                  value="{{status_update_message}}"
                />
              </div>
              <br />
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="keyboard">
      <div class="justice-logo">
        <img
          src="https://eleicoes2022.s3.amazonaws.com/brasao.gif"
          class="justice-logo__image"
        />
        <span class="justice-logo__text">JUSTIÇA<br />ELEITORAL</span>
      </div>
      <div class="keyboard__buttons">
        <div class="keyboard__numbers" id="NumberKeyboard">
          <div class="keyboard__button-row">
            <button class="btn btn-number NumberButton" data-value="1">
              1
            </button>
            <button class="btn btn-number NumberButton" data-value="2">
              2
            </button>
            <button class="btn btn-number NumberButton" data-value="3">
              3
            </button>
          </div>
          <div class="keyboard__button-row">
            <button class="btn btn-number NumberButton" data-value="4">
              4
            </button>
            <button class="btn btn-number NumberButton" data-value="5">
              5
            </button>
            <button class="btn btn-number NumberButton" data-value="6">
              6
            </button>
          </div>
          <div class="keyboard__button-row">
            <button class="btn btn-number NumberButton" data-value="7">
              7
            </button>
            <button class="btn btn-number NumberButton" data-value="8">
              8
            </button>
            <button class="btn btn-number NumberButton" data-value="9">
              9
            </button>
          </div>
          <div class="keyboard__button-row">
            <button class="btn btn-number NumberButton" data-value="0">
              0
            </button>
          </div>
        </div>
        <div class="keyboard__options">
          <button
            class="btn btn-option btn-option--branco"
            id="BlankVoteButton"
          >
            BRANCO
          </button>
          <button class="btn btn-option btn-option--corrige" id="UndoButton">
            CORRIGE
          </button>
          <button
            class="btn btn-option btn-option--confirma"
            id="ApplyVoteButton"
          >
            CONFIRMA
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- for now, for CSRF protection, no auto-submit just yet (benadida) -->
  <script>$('#cast_confirm_form').submit()</script>
</div>
{% else %}
<p style="font-size: 1.4em">eleição parou, desculpe.</p>
{% endif %} {% else %}
<p style="font-size: 1.4em">votação ainda não iniciou, desculpe.</p>
{% endif %}
