<p class="voting-login__label-desc">Forneça o ID de eleitor e senha que você recebeu por email.</p>
<form method="post" action="{% url "election@password-voter-login" election.uuid %}" onsubmit="show_waiting()" class="voting-login__form">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="return_url" value="{{return_url}}"/>
<input type="hidden" name="cast_ballot" value="{{cast_ballot}}"/>
<table class="voting-login__form-table">
    {{password_login_form.as_table}}
</table>
{% if bad_voter_login %}
<p style="color: red;" class="voting-login__form-error">
usuário ou senhas não coincidem. por favor, tente novamente.
</p>
{% endif %}
{% if cast_ballot == "1" %}
<p class="voting-login__send-disclamer">
Você pode enviar quantas cédulas desejar:<br />somente a última será contabilizada.
</p>
<input type="submit" class="button voting-login__submit-btn" value="enviar voto" />
{% else %}
<input type="submit" class="button" value="log in" />
{% endif %}
</form>

