{% extends TEMPLATE_BASE %}

{% block title %}Descriptografar resultados &mdash; {{election.name}}{% endblock %}
{% block content %}
  <h2 class="title">{{election.name}} &mdash; Descriptografar resultados

  <p>
    Você irá descriptografar os resultados para esta eleição agora. Somente você verá os resultados.
  </p>

  <form method="POST" action="">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    <input type="submit" class="button" value="apure os resultados!" />
    <button onclick="document.location='{% url "election@view" election.uuid %}'; return false;">cancelar</button>
  </form>

{% endblock %}
