{% extends TEMPLATE_BASE %}

{% block title %}Cédulas auditadas para {{election.name}}{% endblock %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Cédulas Auditadas <span style="font-size:0.7em;">[<a href="{% url "election@view" election_uuid=election.uuid %}">voltar para a eleição</a>]</span></h2>

<p>
  Ao preparar uma cédula com OmyVote, você recebe imediatamente um rastreador de cédula inteligente. Antes de optar por votar, você tem a opção de solicitar ao OmyVote que "abra" essa cifra criptografada e verifique se o OmyVote criptografou sua cédula corretamente. Feito isso, você pode postar a cédula aberta aqui, na lista de cédulas auditadas, para que todos possam verificar (sua identidade não está incluída). Depois de fazer isso, é necessário criptografar novamente suas opções e obter um rastreador de cédula inteligente diferente. Isso ajuda a reduzir a chance de alguém coagir você a votar de forma diferente da sua verdadeira escolha.
</p>

<p>
  Estas cédulas <em>não são lançadas</em> e não serão contadas. Eles estão aqui apenas para fins de auditoria, para verificar se o OmyVote está criptografando corretamente as escolhas dos eleitores.
</p>

<p>
  Para verificar uma cédula auditada, copie todo o conteúdo e cole-o no <a target="_new" href="/booth/single-ballot-verify.html?election_url={% url "election@home" election.uuid %}">Verificador de Cédula</a>.
</p>

{% if audited_ballots %}
<p>
Cédulas Auditadas {{offset_plus_one}} - {{offset_plus_limit}} &nbsp;&nbsp;
</p>

{% if next_after %}
<a href="?after={{next_after}}&offset={{offset_plus_limit}}">próximo {{limit}}</a> &nbsp;&nbsp;
{% endif %}

{% ifequal offset 0 %}
{% else %}
<a href="?">back to start</a> &nbsp;&nbsp;
{% endifequal %}
{% if more_p %}
<a href="?after={{next_after}}&offset={{next_offset}}">próximo {{limit}}</a>
{% endif %}
<table class="pretty">
{% for b in audited_ballots %}
<tr><td><tt style="font-size: 1.4em;">{{b.vote_hash}}</tt> [<a target="_blank" href="?vote_hash={{b.vote_hash|urlencode}}">visualizar</a>]</td></tr>
{% endfor %}
</table>
{% else %}
<em>não há cédulas auditadas ainda</em>
{% endif %}

{% endblock %}
