{% extends TEMPLATE_BASE %}
{% block title %}Confirmação de Voto{% endblock %}

{% block content %}
<script language="javascript">
$(document).ready(function() {
  $('#waiting_div').hide();
});

function show_waiting() {
  $('#all_forms').hide();
  $('#waiting_div').show();
}

// FIXME: set this to false once it's clear how to set it back to true
// so that it's not easy to forget to cast a ballot
var ready_to_unload = true;

window.onbeforeunload = function(evt) {
  if (ready_to_unload)
    return;

  if (typeof evt == 'undefined') {
    evt = window.event;
  }
  
  var message = "Você ainda não votou! Certifique-se de concluir o processo de votação se desejar que seu voto seja contabilizado.";

  if (evt) {
    evt.returnValue = message;
  }
  
  return message;
};

</script>
<p style="margin-top: 10px">Enviando seu voto para <b>{{election.name}}</b>...</p>

<div id="waiting_div">
  Verificando e enviando sua cédula<br />
    <img src="/static/helios/loading.gif" />
</div>

<div id="all_forms">

{% if voter %}

{% include "_castconfirm_docast.html" %}

{% else %}

{% if show_password %}
{% if user %}
<h1>Atenção!</h1>
<p>
Você está logado como <u>{{user.display_html_small|safe}}</u>, mas esta eleição<br />
requer credenciais específicas.
</p>
{% endif %}
{% with cast_ballot="1" %}
{% include "_castconfirm_password.html" %}
{% endwith %}

{% else %}

{% if user %}
<h1>Atenção!<h1>
<b>Desculpe, você consta como <em>
  {% if election.openreg %}
    <u>não elegível</u></em> para esta eleição.
  {% else %}
    não registrado</em> para esta eleição. O registro está encerrado.
  {% endif %}
  </b><br /></p>
<p>
    [<a href="{% url "election@view" election.uuid %}">retornar à página principal da eleição</a>]
</p>
{% else %}
<p>
<h1>Espere! Você precisa se autenticar.</h1>
{% if election.openreg %}

  {% if election.eligibility %}
  {% else %}
   Esta eleição está aberta <em>publicamente</em>, faça login com a sua conta de preferência.
  {% endif %}

{% else %}
  Está eleição está aberta apenas para <em>eleitores registrados</em>, faça login com a conta registrada.
{% endif %}
</p>

{{login_box|safe}}

<br />
Não se preocupe, lembraremos da sua cédula enquanto você faz login.
{% endif %}

{% endif %}
<br />
Seu Rastreador de Cédula Digital é:<br /><br />
    <tt style="font-size:1.3em; font-weight: bold; padding-left: 20px;">  {{vote_fingerprint}}</tt>
</p>
{# this closes the IF ELSE of this being password_only #}
{% endif %}

</div>

{% endblock %}
