{% extends TEMPLATE_BASE %}

{% block content %}

  <h3 class="title">{{election.name}} &mdash; Editar eleição
    <br />
    <small><a class="small button" href="{% url "election@view" election.uuid %}">cancelar e voltar</a></small>
  </h3>
  
{% if error %}
<p style="color: red;">
    {{error}}
</p>
{% endif %}
  
  <form class="prettyform" action="" method="POST" id="edit_election_form">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    <table class="pretty">
     {{election_form.as_table}}
     </table>
  <div>
  <label for="">&nbsp;</label><input type="submit" value="Salvar eleição" id="update_button" />
  </div>
  </form>

{% endblock %}
