{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Congelar as configurações da Eleição</h2>
<p>
  Uma vez congeladas as configurações da eleição, as perguntas e opções não podem mais ser modificadas.<br />
  A lista de administradores e suas chaves públicas também será congelada e não poderão ser modificadas.
</p>

<p>
{% if election.openreg %}
O cadastramento para a sua eleição está <b>aberta</b>, o que significa que qualquer um pode votar, mesmo após o congelamento das configurações.
{% else %}
O cadastramento para a sua eleição está <b>fechado</b>, o que significa que apenas os eleitores designados poderão enviar seus votos. Como Administrador, você pode alterar a lista de eleitores durante o progresso da eleição.
{% endif %}
</p>    

{% if helios.VOTERS_EMAIL %}
<p>
Você precisa congelar as configurações da eleição antes de contatar os eleitores.
</p>
{% endif %}

{% if issues_p %}
<p>
    Antes de congelar as configurações da eleição, você precisa:
    <ul>
        {% for issue in issues %}
        <li>{{issue.action}}</li>
        {% endfor %}
    </ul>
    <a href="{% url "election@view" election.uuid %}">voltar para a eleição</a>
</p>
{% else %}
<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
<input class="button" type="submit" value="Congelar as configurações" />
<button onclick="document.location='{% url "election@view" election.uuid %}'; return false;">esqueça isso</button>
</form>
{% endif %}

<br /><br />
{% endblock %}
