{% extends TEMPLATE_BASE %}
{% block title %}{{election.name}}{% endblock %}
{% block content %}
<div style="float: left; margin-right: 50px;">
  <h3 class="title">{{ election.name }}
{% if admin_p %}
{% if not election.frozen_at %}
<small><a class="small button" href="{% url "election@edit" election.uuid %}">editar</a></small>
{% endif %}
{% endif %}</h3>
<p style="padding-top:0px; margin-top:0px">
<em>Eleição {% if election.private_p %}privada{%else%}pública{% endif %}</em>{# { election.election_type } #}{% if settings.SHOW_USER_INFO %} criada por <u><b>{{election.admin.display_html_small|safe}}</b></u>{% endif %}
{% if election.is_archived %}
[arquivada]
{% endif %}
{% if admin_p %}
&nbsp;{% if election.is_archived %}<a class="small button" href="{% url "election@archive" election_uuid=election.uuid %}?archive_p=0">desarquivar</a>{% else %}<a class="small button" href="{% url "election@archive" election_uuid=election.uuid %}?archive_p=1">arquivar</a>{% endif %}
<a class="small button" onclick="return window.confirm('Você tem certeza de que deseja copiar esta eleição?');" href="{% url "election@copy" election_uuid=election.uuid %}">copiar</a>
{% endif %}
<br />
{% if admin_p %}
{% if not election.private_p %}
{% if election.featured_p %}
esta eleição {# { election.election_type } #} está destacada na página principal.
{% if can_feature_p %}
[<a href="{% url "election@set-featured" election.uuid %}?featured_p=0">remover destaque</a>]
{% endif %}
{% else %}
esta eleição {# { election.election_type } #} <u>não</u> está destacada na página principal.
{% if can_feature_p %}
[<a href="{% url "election@set-featured" election.uuid %}?featured_p=1">adicionar destaque</a>]
{% endif %}
{% endif %}
{% endif %}
{% endif %}
</p>

</div>


<br />

<br clear="left" />

<div style="margin-bottom: 25px; line-height: 1.3;">
{{election.description_bleached|safe}}
</div>

{% if election.election_info_url %}
<p style="font-size:1.5em;">[<a target="_blank" href="{{election.election_info_url}}" rel="noopener noreferrer">baixar declarações e biografias dos candidatos</a>]</p>
{% endif %}

<p align="center" style="font-size: 1.5em;">
<a href="{% url "election@questions" election.uuid %}">pautas ({% if election.questions %}{{election.questions|length}}{% else %}0{% endif %})</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{% url "election@voters@list-pretty" election.uuid %}">eleitores &amp; cédulas</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{% url "election@trustees@view" election.uuid %}">curadores ({{trustees|length}})</a>
</p>

{% if admin_p %}
{% if election.frozen_p %}
<div style="background: lightgrey; padding:5px; padding-left: 10px; margin-top: 15px; border: 1px solid #aaa; width: 720px;" class="round">
<a href="#" onclick="$('#badgebody').slideToggle(250);">Incorporar um badge de eleição</a>
<div id="badgebody" style="display:none;">
<br />
<form action="#">
<textarea cols="90" rows="4" wrap="soft">&lt;iframe src="{{election_badge_url}}" frameborder="0" style="border: 1px solid black" height="75" width="200"&gt;
&lt;/iframe&gt;</textarea><br />
<p style="font-size:0.8em;">adicionar este HTML ao seu site exibe um pequeno banner com links diretos para votação.</p>
</form>
</div>
</div>
{% endif %}
<p>

{% if election.result_released_at %}

<!-- election complete, no next step -->

{% else %}
<b>Próximo passo:</b>
<span style="font-size: 1.3em;">
{% if not election.frozen_at %}
{% if election.issues_before_freeze %}
{% for issue in election.issues_before_freeze %}
{{issue.action}}{% if forloop.last %}{% else %}, e{% endif %}<br />
{% endfor %}
{% else %}
<a href="{% url "election@freeze" election.uuid %}">congelar configurações e abrir a eleição.</a>
<br />
{% if election.voting_starts_at %}
Depois de fazer isso, a eleição estará pronta para votação e será aberta automaticamente<br />
em {{election.voting_starts_at}}, de acordo com as configurações.
{% else %}
Depois que você fizer isso, a eleição será imediatamente aberta para votação.<br />
Não se esqueça de notificar os eleitores por email (eleitores & cédulas > enviar email > enviar).
{% endif %}
{% endif %}

{% else %}

{% if not election.encrypted_tally %}
{% if election.tallying_started_at %}
O cálculo dos resultados está a caminho.<br />
Recarregue esta página em alguns minutos.
{% else %}
<a href="{% url "election@compute-tally" election.uuid %}">computar resultados criptografados</a><br />
Você já notificou os eleitores de que a eleição está aberta? (eleitores & cédulas > enviar email > enviar)<br /><br />
Os votos criptografados serão combinados em uma contagem criptografada. Uma vez feito isso,<br />
os curadores deverão participar na descriptografia.
{% endif %}
{% else %}

{% if election.result %}
<a href="{% url "election@release-result" election.uuid %}">publicar resultados</a><br />
O resultado exibido abaixo é visível apenas para você.<br />
Depois de publicar o resultado, ele ficará visível para todos.<br />
Não se esqueça de notificar os eleitores por email.
{% else %}

{% if election.ready_for_decryption_combination %}
<a href="{% url "election@combine-decryptions" election.uuid %}">
{% if election.num_trustees == 1 %}
computar resultados
{% else %}
combinar descriptografia dos curadores e calcular resultados
{% endif %}
</a><br />
{% if election.num_trustees == 1 %}
O resultado será calculado e mostrado a você, administrador, apenas.<br />
Não se esqueça de notificar os eleitores por email.
{% else %}
As ações de descriptografia dos curadores serão combinadas e a contagem computada.<br />
Depois de fazer isso, a contagem ficará visível para você, administrador, apenas.<br />
Não se esqueça de notificar os eleitores por email.
{% endif %}
{% else %}
<a href="{% url "election@trustees@view" election.uuid %}">curadores (para descriptografar)</a>
{% endif %}

{% endif %}

{% endif %}

{% endif %}
</span>

{% endif %}

</p>

{% endif %}

<br />

{% if show_result %}
{% if election.result_released_at %}
<span class="highlight-box round">
    Esta eleição está encerrada.
</span><br /><br /><br />
{% endif %}

<h3 class="highlight-box">Resultado da Eleição</h3>
{% for question in election.pretty_result %}
<b><span style="font-size:0.8em;">Questão #{{forloop.counter}}</span><br />{{question.question}}</b><br />
<table class="pretty" style="width: auto;">
{% for answer in question.answers %}
<tr><td style="padding-right:80px;{% if answer.winner %}font-weight:bold;{% endif %}">{{answer.answer}}</td><td align="right" style="{% if answer.winner %}font-weight:bold;{% endif %}">{{answer.count}}</td></tr>
{% endfor %}
</table>
{% endfor %}

{% else %}

{% if election.voting_has_stopped %}
<span class="highlight-box round">
    Eleição fechada. Os resultados serão exibidos em breve.
</span><br /><br />
{% else %}

{% if election.voting_has_started %}
<a class="button" href="{{test_cookie_url}}">Vote nesta eleição{# { election.election_type } #} </a>
<br />
<br />
{% if election.voting_extended_until %}
Esta eleição{# { election.election_type } #} foi programada para encerrar em {{election.voting_ends_at}} (UTC),<br />
mas foi estendida até {{ election.voting_extended_until }} (UTC).
{% else %}
{% if election.voting_ends_at %}
<br />
Esta eleição{# { election.election_type } #} foi programada para encerrar em {{election.voting_ends_at}} (UTC).
{% else %}
Esta eleição{# { election.election_type } #} será finalizada pelo administrador.
{% endif %}
<br />
{% endif %}

{% if election.private_p and voter %}
<br />
Esta eleição é <em>privada</em>. Você se registrou como um eleitor válido <em>{{voter.name}}</em>.
{% endif %}

<div class="highlight-box round" style="font-size: 1.2em; margin-right: 400px; display:none;" id="nojava_message">
  Você não possui o Java instalado no seu navegador.<br />Neste momento este sistema necessita de Java.<br />
  Visite <a target="_new" href="http://java.sun.com">java.sun.com</a> para instalar.
</div>
<br />
{% else %}
<span class="highlight-box round">
  votação não aberta ainda
</span> <br /><br />
{% endif %}

{% if user %}
{% if voter %}
<p style="padding-top:1px;">
  Você está registrado para votar nesta eleição{# { election.election_type } #}.
{% if election.use_voter_aliases %}
Seu codinome de eleitor é {{voter.alias}}.
{% endif %}
</p>

{% else %}
{% if election.result %}
{% else %}
{% if election.openreg %}
{% if eligible_p %}
Você é elegível para votar nesta eleição.
{% else %}
Você <em>não é elegível</em> para votar nesta eleição{# { election.election_type } #}.
{% endif %}
{% else %}
Você <em>não é elegível</em> para votar nesta eleição{# { election.election_type } #}.
<br />
{% endif %}
{% endif %}
{% endif %}
{% else %}

{% if election.openreg %}
{% if election.eligibility %}
Esta eleição está aberta para: {{election.pretty_eligibility|safe}}
<a href="{{settings.SECURE_URL_HOST}}{% url "auth@index" %}?return_url={{CURRENT_URL}}">Log in</a> para verificar se você é elegível.
{% else %}
Qualquer pessoa pode votar nesta eleição.
{% endif %}
{% endif %}

{% endif %}

{% endif %}

{% endif %}

{% if admin_p and election.voting_ends_at and not election.tallying_started_at %}
<br /><a href="{% url "election@extend" election.uuid %}">extend voting</a><br />
{% endif %}

<div style="background: lightgrey; padding:5px; padding-left: 10px; margin-top: 15px; border: 1px solid #aaa; width: 720px;" class="round">
<a href="#" onclick="$('#auditbody').slideToggle(250);">Informações de Auditoria</a>
<div id="auditbody" style="display:none;">
<br />URL da Eleição:<br />
<tt style="font-size: 1.2em;"><a href="{{election.url}}">{{election.url}}</a></tt>

{% if election.frozen_at %}
<br />
<br />Fingerprint da Eleição:<br />
<tt style="font-size: 1.3em; font-weight: bold;">{{election.hash}}</tt>


{% if votes %}
<p>Seu Código Rastreador de Cédula:<br />
<tt style="font-size:14pt; font-weight: bold;">{{votes.0.vote_hash}}</tt>
</p>
{% endif %}

<p style="font-size: 1.3em;">
<a href="{% url "election@voters@list-pretty" election.uuid %}">Centro de Rastreamento de Cédulas</a> &nbsp;| &nbsp;
<a href="{% url "election@audited-ballots" election.uuid %}">Cédulas Auditadas</a>
</p>

{% endif %}

{% if not election.voting_has_started %}
<p style="font-size: 1.2em;">
  <a href="{{SECURE_URL_HOST}}/booth/vote.html?election_url={% url "election@home" election.uuid %}">pré-visualizar cabine de votação</a>
</p>
{% endif %}  

{% if election.voting_has_stopped %}
<p style="font-size: 1.2em;">
{% if election.result %}
verificar <a target="_blank" href="/verifier/verify.html?election_url={% url "election@home" election.uuid %}">resultados da eleição</a>.
{% endif %}

revisar <a href="{{vote_url}}">a cabine de votação</a>.
</p>

{% endif %}

</div>
</div>




{% endblock %}
