{% extends TEMPLATE_BASE %}

{% block title %}São necessários cookie para o OMyVote{% endblock %}

{% block content %}
  <h2 class="title">São necessários cookies para o OMyVote</h2>

<p>
  Parece que seu navegador não suporta cookies ou está configurado para bloquear cookies deste site. O OMyVote precisa definir um cookie de sessão para que ele possa salvar seu voto, permitir que você faça login etc. Ative cookies e, em seguida, <a href="{{retest_url}}">continue a preparar sua cédula</a>
</p>
<p>
  Se você continuar sendo enviado de volta a esta página, provavelmente é porque não ativou os cookies com sucesso.
</p>
{% endblock %}
