{% extends TEMPLATE_BASE %}
{% block title %}Estatísticas{% endblock %}

{% block content %}
<h1>Admin</h1>

<ul>
<li> <a href="{% url "stats@elections" %}">eleições</a></li>
<li> <a href="{% url "stats@recent-votes" %}">votos recentes</a></li>
<li> <a href="{% url "stats@elections-problems" %}">problemas com eleições recentes</a></li>
</ul>

<p><b>{{num_votes_in_queue}}</b> votos na fila. {% if num_votes_in_queue %}[<a href="{% url "stats@force-queue" %}">forçar</a>]{% endif %}</p>

{% endblock %}
