{% extends "helios/templates/cryptobase.html" %}

{% block content %}
<script>
function reset() {
    $('#processing').hide();
    $('#result').html("");
    $('#input').hide();
    $('#loading').show();
    BigInt.setup(function() {
        $('#loading').hide();
        $('#input').show();
    });
}

$(document).ready(function() {
    reset();
});

var PK_HASH = "{{trustee.public_key_hash}}";

function check_sk(sk_value) {
    $('#input').hide();
    $('#processing').show();

    try {
      var secret_key = ElGamal.SecretKey.fromJSONObject(jQuery.secureEvalJSON(sk_value));

      var pk_hash = b64_sha256(jQuery.toJSON(secret_key.pk));
      var key_ok_p = (pk_hash == PK_HASH);
    } catch (e) {
      debugger;
      var key_ok_p = false;
    }
    
    $('#processing').hide();

    var reset_link = "<br />[<a href='javascript:reset();'>tentar novamente</a>]";
    if (key_ok_p) {
      $('#result').html("chave privada correta!");
    } else {
      $('#result').html("OH OH, sua Chave Privada não coincide." + reset_link);
    }
}
</script>
  <h3 class="title">{{election.name}} &mdash; Curador {{trustee.name}} &mdash; Verificar Chave Privada 
    <br />
    <small><a class="small button" href="{% url "election@trustee" election_uuid=election.uuid trustee_uuid=trustee.uuid %}">voltar para a página de curadores</a></small>
  </h3>

<p>
O fingerprint da sua chave pública é: <b>{{trustee.public_key_hash}}</b>
</p>

<div id="loading">
Status: Carregando funções de criptografia...
</div>

<div id="input" style="display:none;">
<p>
para verificar se você possui as credenciais corretas, cole aqui a sua chave privada (chave secreta):
<p>

<form onsubmit="check_sk(this.secret_key.value); this.secret_key.value=''; return false;">
<textarea name="secret_key" cols="60" rows ="5" wrap="soft" style="height: 25em;">
</textarea>
<br />
<input class="small button" type="submit" value="verificar" />
</form>
</div>

<div id="processing" style="display:none;">
Status: Verificando sua chave secreta...
</div>

<div id="result">
</div>


<div id="applet_div"></div>
{% endblock %}
