{% extends TEMPLATE_BASE %}

{% block content %}
  <h3 class="title">{{election.name}} &mdash; Pesquisar Eleitores por '{{search_term}}' 
    <br />
    <small><a class="small button" href="{% url "election@view" election.uuid %}">voltar para eleição</a></small>
  </h3>

{% if voter %}
Eleitor Encontrado: {{voter.name}} ({{voter.voter_id}})<br /><br />
{% if election.frozen_at %}
<a href="{% url "election@voters@email" election.uuid %}?voter_id={{voter.voter_id}}">enviar email para este eleitor</a>
{% else %}
uma vez que a eleição está congelada, você poderá enviar emails para este eleitor.
{% endif %}
{% else %}
<em>eleitor não encontrado</em>
{% endif %}

{% endblock %}