{% extends TEMPLATE_BASE %}

{% block content %}
  <h3 class="title">{{election.name}} &mdash; Gerenciar Eleitores 
    <br />
    <small><a class="small button" href="{% url "election@view" election.uuid %}">voltar para eleição</a></small>
  </h3>
<form method="get" action="{% url "helios.views.voters_search" election.uuid %}"><b>pesquisar</b>: <input type="text" name="q" /> <input type="submit" value="pesquisar" /></form>

{% if upload_p %}
<p><a href="{% url "election@voters@upload" election_uuid=election.uuid %}">enviar eleitores em massa</a></p>
{% endif %}

Eleitores {{offset_plus_one}} - {{offset_plus_limit}} &nbsp;&nbsp;

{% if next_after %}
<a href="./manage?after={{next_after}}&offset={{offset_plus_limit}}">próximo {{limit}}</a> &nbsp;&nbsp;
{% endif %}

{% ifequal offset 0 %}
{% else %}
<a href="./manage">voltar ao início</a> &nbsp;&nbsp;
{% endifequal %}
{% if more_p %}
<a href="./manage?after={{next_after}}&offset={{next_offset}}">próximo {{limit}}</a>
{% endif %}

<table class="pretty">
<tr><th>Codinome</th><th>Nome</th><th>Nome de Usuário</th></tr>
{% for voter in voters %}
<tr><td>{{voter.alias}}</td><td>{{voter.name}}</td><td>{{voter.voter_id}}
{% if election.frozen_at %}
{% else %}
[<a onclick="return confirm('Você tem certeza que deseja remover {{voter.name}} ?');" href="{% url "election@voter@delete" election.uuid voter.uuid %}">x</a>]
{% endif %}
</td></tr>
{% endfor %}
</table>


{% endblock %}
