{% extends TEMPLATE_BASE %}

{% block content %}
  <h3 class="title">{{election.name}} &mdash; Envio em Massa de Eleitores 
    <br />
    <small><a class="small button" href="{% url "election@view" election.uuid %}">voltar para eleição</a></small>
  </h3>

<form method="post" action="" id="upload_form" enctype="multipart/form-data">
  <p>
    Se você deseja especificar sua lista de eleitores por nome e endereço de email,<br />
    você pode fazer upload em massa de uma lista desses eleitores aqui.<br /><br />

    Prepare um arquivo de texto (CSV) com valores separados por vírgula, com os campos:
</p>
<pre>
   &lt;id_unico&gt;,&lt;email&gt,&lt;nome completo&gt;
</pre>

<p>
Por exemplo:
  </p>
  <pre>
      arnaldo,arnaldo@site.net,Arnaldo Faria
      joaocarlos,joaocarlos@gmail.com,João Carlos
      ...
  </pre> 

  <p>
    A maneira mais fácil de preparar esse arquivo é usar um programa de planilha como o Excel, e exportar para um arquivo em formato "CSV".
  </p>
  {% if error %}
  <div style="color: red;">{{error}}</div>
  {% endif %}
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
    <input type="file" name="voters_file" />
    <input type="submit" value="enviar" />
</form>

<div id="processing">
</div>

<div id="done" style="display:none;">
  OK, envio concluído.<br />
  Agora você pode <a href="./manage">ver a lista de eleitores</a>.
</div>

{% endblock %}
